@import url('../commun/message.css');
@import url('../commun/formulaire.css');
@import url('../commun/voitures.css');
header {
    position: sticky;
    top: 0;
    width: 100%;
    padding-top: 0px;
    margin-top: 0;
    color: white;
    background-color: black;
}

form {
    display: grid;
}

ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    padding-left: 0;
    grid-auto-flow: column;
    list-style-type: none;
    overflow: hidden;
    background-color: transparent;
}

li input {
    width: 100%;
    color: black;
    text-align: center;
    padding: 14px 16px;
}

li input:hover {
    border: 2px double black;
    background-color: rgb(243, 158, 0);
}

#input-Deconnexion:hover {
    background-color: #c00303;
}